<div class="m-portlet__head">
  <div class="m-portlet__head-caption">
    <div class="m-portlet__head-title">
      <span class="m-portlet__head-icon m--hide">
        <i class="la la-gear"></i>
      </span>
      <h3 class="m-portlet__head-text">
        <i class="flaticon-exclamation"></i>
        <%= title %>
        <small>
          <%= sub_title %>
        </small>
      </h3>
    </div>
  </div>
</div>
