<div class="m-portlet__head-caption">
  <div class="m-portlet__head-title">
    <h3 class="m-portlet__head-text">
      <%= title %>
      <small>
        <%= sub_title %>
      </small>
    </h3>
  </div>
</div>
