<div class="col-md-3">
  <div class="m-input-icon m-input-icon--left search-center">
    <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." v-model="keyword" data-original-title="<%= hint %>">
    <span class="m-input-icon__icon m-input-icon__icon--left">
      <span>
        <i class="la la-search"></i>
      </span>
    </span>
  </div>
  <div class="d-md-none m--margin-bottom-10"></div>
</div>
