<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
  <div class="m-form__actions m-form__actions--solid">
    <div class="row m--align-right">
      <div class="col-lg-12">
        <%= f.button :submit, '送出', class: 'btn btn-brand' %>
        <%= link_to("取消", cancel_path, class: 'btn btn-secondary') %>
      </div>
    </div>
  </div>
</div>
