<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
  <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" data-search-type="default">
    <!--BEGIN: Search Results -->
    <div class="m-dropdown__wrapper">
      <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
      <div class="m-dropdown__inner">
        <div class="m-dropdown__body">
          <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">
            <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
          </div>
        </div>
      </div>
    </div>
    <!--BEGIN: END Results -->
  </div>
  <div class="m-stack__item m-topbar__nav-wrapper">
    <ul class="m-topbar__nav m-nav m-nav--inline">
      <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
        <a href="#" class="m-nav__link m-dropdown__toggle">
          <span class="m-nav__link-icon m-topbar__usericon">
            <span class="m-nav__link-icon-wrapper">
              <i class="flaticon-user-ok"></i>
            </span>
          </span>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__header m--align-center">
              <div class="m-card-user m-card-user--skin-light">
                <div class="m-card-user__details">
                  <span class="m-card-user__name m--font-weight-500">
                      <%#= current_admin_identity %>
                  </span>
                  <a href="javascript:void(0)" class="m-card-user__email m--font-weight-300 m-link">
                    <%#= current_admin_info %>
                  </a>
                </div>
              </div>
            </div>
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav m-nav--skin-light">
                  <li class="m-nav__separator m-nav__separator--fit"></li>
                  <li class="m-nav__item">
                    <%= link_to('登出', '#', method: :delete, "data-confirm-swal" => "您確定要登出系統嗎 ?", class: "btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder") %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

