<div class="m-wizard m-wizard--2 m-wizard--success">

  <div class="m-portlet__padding-x"></div>

  <%= render partial: 'progress' %>

  <div class="m-wizard__form">
    <div class="m-form m-form--label-align-left- m-form--state-" id="m_form">
      <div class="m-portlet__body">
        <%= render partial: "step_#{current_object.current_step}" %>
      </div>
    </div>
  </div>

</div>
