<div class="col-lg-2"></div>
<div class="col-lg-4 m--align-left">
  <%= link_to(admin_stores_path, class: 'btn btn-secondary m-btn m-btn--custom m-btn--icon', "data-wizard-action" => "prev") do %>
  <span>
    <i class="la la-arrow-left"></i>
    &nbsp;&nbsp;
    <span>
      上一頁
    </span>
  </span>
  <% end %>
</div>
