<input type="hidden" id="channel" name="channel_id" data-id="<%= @channel.id %>" data-programs="<%= @programs.to_json %>">
<div id="app" class="m-portlet__head">
  <div class="m-portlet__head-caption">
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        <%= @channel.name %>
      </h3>
    </div>
  </div>
</div>
<div class="m-portlet__body">
  <div class="form-group">
    <div class="row m--margin-top-40">
      <div class="col-xl-10 offset-xl-1">
        <div class="m-form__section m-form__section--first">
          <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-3 col-sm-12">
              <a href="#" class="m-nav-grid__item"></a>
              <i class="m-nav-grid__icon flaticon-file"></i>
              素材上傳區
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <div class="m-dropzone dropzone dz-clickable" id="m-dropzone-one">
                <div class="m-dropzone__msg dz-message needsclick">
                  <h5>
                    請拖曳檔案或點擊上傳
                  </h5>
                  <p>允許格式: MP4 <br />檔案大小限制: 100MB</p>
                </div>
              </div>
            </div>
          </div>
        </div> <!--End m-form__section first -->
        <div class="m-separator m-separator--dashed m-separator--lg"></div>
        <div class="m-form__heading">
          <h5 class="m-form__heading-title">
            播放中
          </h5>
        </div>
        <div class="m-portlet__body">
          <!--begin: local Datatable -->
          <div class="m-section__content">
            <programs-table-vue :rows="programs" :channel="channelId" />
          </div>
        </div>

        <div class="m-separator m-separator--dashed m-separator--lg"></div>
        <div class="m-form__heading">
          <h5 class="m-form__heading-title">
            已下架
          </h5>
        </div>
        <div class="m-portlet__body">
          <!--begin: local Datatable -->
          <div class="m-section__content">
            <!--begin: Tab content -->
            <table class="table table-striped m-table">
              <thead>
                <tr>
                  <th width="35%">
                    名稱
                  </th>
                  <th width="10%">
                    秒數
                  </th>
                  <th width="10%">
                    預覽圖
                  </th>
                  <th width="25%">
                    下架時間
                  </th>
                  <th width="15%">
                    操作
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="program in inactivePrograms()">
                  <td>
                    <a :href="program.video_url" target="_blank">
                      {{program.name}}
                    </a>
                  </td>
                  <td v-html="program.seconds"></td>
                  <td>
                    <img :src="program.current_screenshot.url" alt="100%x200" style="width: 96px; height: 54px;" v-if="program.current_screenshot" />
                  </td>
                  <td v-html="program.updated_at"></td>
                  <td>
                    <a href="javascript:void(0)" class="btn btn-secondary m-btn btn-sm m-btn--icon m-btn--icon-only mt-2" @click="recover(program.id)"><i class="la la-reply"></i></a>
                    <a href="javascript:void(0)" class="btn btn-secondary m-btn btn-sm m-btn--icon m-btn--icon-only mt-2"@click="destroy(program.id)"><i class="la la-remove"></i></a>
                  </td>
                </tr>
                <tr v-if="inactivePrograms().length == 0">
                  <td colspan="5">no any programs</td>
                </tr>
              </tbody>
            </table>
            <!--end::tab 1 content-->
          </div> <!-- End m-section__content -->
        </div>

        <!--end: local Datatable -->
      </div><!--End m-portlet__body -->
    </div> <!--End row -->
    <div class="m-form__actions m-form__actions--solid">
      <div class="row m--align-left">
        <div class="col-lg-8">
          <%= link_to(admin_channels_path, class: 'btn btn-info') do %>
            <i class="la la-angle-left"></i> 上一頁
          <% end %>
        </div>
      </div>
    </div>
  </div><!--End form-group-->
</div><!--End form-group-->
