<div class="alert m-alert--default">
  <div class="m-alert__text">
    <span class="m--font-info m--font-boldest">
      <i class="flaticon-exclamation-1"></i>
      狀態說明:
    </span>
  </div>
  <div class="m-alert__text row">
    <div class="col-md-3">
      <span class="m-badge m-badge--success">1</span>
      &nbsp; 未滿30分無服務
    </div>
    <div class="col-md-3">
      <span class="m-badge m-badge--warning">2</span>
      &nbsp; 超過30分無服務
    </div>
    <div class="col-md-3">
      <span class="m-badge m-badge--danger">3</span>
      &nbsp; 超過一小時無服務
    </div>
  </div>
</div>
